<!DOCTYPE html>
<html lang="en">
	<head>
		<title>EAT-DA-BURGER!</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link
      rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
		<!-- My Stylesheet -->
		<link rel="stylesheet" href="static/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>